:root
{
    font-family: sans-serif;
    font-size: 2em;
}

html,
body,
main
{
    height: 100%;
    margin: 0;
    padding: 0;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

output
{
    display: block;
    margin: 1rem;
    font-size: 10vw;
}


[data-status]
{
    --status-colour: silver;
    --status-color-inv: black;
}

[data-status="occupied"]
{
    --status-colour: orangered;
}

[data-status="free"]
{
    --status-colour: green;
    --status-color-inv: white;
}

[data-status="error"]
{
    --status-colour: black;
    --status-color-inv: white;
}

main
{
    color: var(--status-color-inv);
    background-color: var(--status-colour);
}


#subscribe
{
    font-size: 1em;
}


.env-indicator
{
    position: fixed;
    top: 0;
    right: 0;
    pointer-events: none;
    margin-right: 0.5ex;
    opacity: 0.5;
    font-weight: bold;
    font-size: 1em;
    font-size: 10vw;
    hyphens: auto;
    color: white;
    background-color: black;
}

@media (min-width: 30rem)
{
    .env-indicator
    {
        font-size: 2rem;
    }
}

@supports (-webkit-text-stroke: black)
{
    .env-indicator
    {
        background-color: transparent;
        -webkit-text-stroke: black thin;
    }
}
