:root
{
    font-family: sans-serif;
    font-size: 2em;
}

html,
body,
main
{
    height: 100%;
    margin: 0;
    padding: 0;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

output
{
    display: block;
    margin: 1rem;
    font-size: 10vw;
}


[data-status="checking"]
{
    --status-fg: var(--checking-fg);
    --status-bg: var(--checking-bg);
}

[data-status="occupied"]
{
    --status-fg: var(--occupied-fg);
    --status-bg: var(--occupied-bg);
}

[data-status="free"]
{
    --status-fg: var(--free-fg);
    --status-bg: var(--free-bg);
}

[data-status="error"]
{
    --status-bg: var(--error-bg);
    --status-fg: var(--error-fg);
}

[data-status="offline"]
{
    --status-bg: var(--offline-bg);
    --status-fg: var(--offline-fg);
}

main
{
    color: black;
    background-color: silver;
    color: var(--status-fg);
    background-color: var(--status-bg);
}


#subscribe
{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1em;
}


.env-indicator
{
    position: fixed;
    top: 0;
    right: 0;
    pointer-events: none;
    margin-right: 0.5ex;
    opacity: 0.5;
    font-weight: bold;
    font-size: 1em;
    font-size: 10vw;
    hyphens: auto;
    color: white;
    background-color: black;
}

@media (min-width: 30rem)
{
    .env-indicator
    {
        font-size: 2rem;
    }
}

@supports (-webkit-text-stroke: black)
{
    .env-indicator
    {
        background-color: transparent;
        -webkit-text-stroke: black thin;
    }
}
